AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
OLMOCR_TIMEOUT_MS=120000
OLMOCR_MOCK=true
OLMOCR_CMD_TEMPLATE=olmocr "{workspace}" --markdown --pdfs "{input}" --workers 1 --pages_per_group 1
OCR_DOWNLOAD_TIMEOUT_MS=30000
OCR_MAX_SOURCE_MB=50
 